{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OG Meetup</title>
</head>
<body>
<h3>Notifications</h3>
<div id="notification_cpu"></div>
<div id="notification_mem"></div>
<div id="notification_time"></div>
<br/>
<hr>
<br/>
<div><input id="input_text" style="width: 500px;"/><button id="send_msg">Send message</button></div>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script>
    var socket = new WebSocket(
      'ws://' + window.location.host + '/ws/notifications/');

    socket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      console.log(data);
      $('#notification_cpu').html(JSON.stringify(data.message.cpu));
      $('#notification_mem').html(JSON.stringify(data.message.memory));
      $('#notification_time').html(JSON.stringify(data.time));
    };

    socket.onclose = function (e) {
      console.error('Socket closed unexpectedly');
    };

    document.querySelector('#send_msg').onclick = function (e) {
      var messageInputDom = document.querySelector('#input_text');
      var message = messageInputDom.value;
      socket.send(JSON.stringify({
          'message': message,
      }));
      console.log('mesage', message);
     };
  </script>
</body>
</html>